/* worg.css inspired by http://orgmode.org/worg/org-tutorials/orgtutorial_dto-es.html */
/*
title          afeeee ff4500
*              87cefa
**             eedd82
***            00ffff
****           ff4500
*****          98fb98
******         7fffd4
*******        b0c4de
********       ffa074
=code=         b3b3b3
#+begin_src    b3b3b3
a           bg 000000 fg   00ffff  & underline
a ul        bg 556b2f fg   ffffff
table          87cefa 4all ff7f24 4options
~vervatim      b3b3b3

*/

@font-face { font-family: text;           src: url(fonts/dejavu/dejavu-sans/DejaVuSans.ttf); }
@font-face { font-family: text_bold;      src: url(fonts/dejavu/dejavu-sans/DejaVuSans-Bold.ttf); }
@font-face { font-family: text_italic;    src: url(fonts/dejavu/dejavu-sans/DejaVuSans-Oblique.ttf); }
@font-face { font-family: text_verse;     src: url(fonts/dejavu/dejavu-sans/DejaVuSans-Oblique.ttf); }
@font-face { font-family: title;          src: url(fonts/fira/FiraSansOT-Regular.otf); }
@font-face { font-family: heatline;       src: url(fonts/resamitz/Resamitz_0048.otf); }
@font-face { font-family: codetext;       src: url(fonts/noto-serif/NotoSerif-Regular.ttf); }
@font-face { font-family: codeblock;      src: url(fonts/monospace/Monospace.ttf); }
@font-face { font-family: description_id; src: url(fonts/roboto/Roboto-Bold.ttf); }


html { background: #000; color: #ffffff;
       margin: 0;
       background-image: url(img/icon-nba-tv.jpg);
       background-size: 12%;
       background-attachment: fixed;
       background-position: right bottom;
       background-repeat: no-repeat;
     }

html body { color: white; font-size: 1.5em; font-family: text; line-height: 1.8em;
            margin-top: 0; }

html body #content { padding: 2em 2em 2em 2em; max-width: 80%; min-width: 640px; margin-left: 20px;
                     /* box-shadow: 3px 3px 5px #FFF;*/  }

/* ################# HEATLINES */
html body #content h1 { color: #afeeee; font-size:   3em; font-family: title;      /* TITLE  */
                        line-height: 1em; }
html body #content h2 { color: #87cefa; font-size: 1.6em; font-family: heatline;
                        padding: 10px 0 10px 0;
                        border-bottom: 1px solid #ddd; }                           /* *      */
html body #content h3 { color: #eedd82; font-size: 1.5em; font-family: heatline; } /* **     */
html body #content h4 { color: #00ffff; font-size: 1.4em; font-family: heatline; } /* ***    */
html body #content h5 { color: #ff4500; font-size: 1.3em; font-family: heatline; } /* ****   */
html body #content h6 { color: #7fffd4; font-size: 1.2em; font-family: heatline; } /* *****  */
html body #content h7 { color: #b0c4de; font-size: 1.1em; font-family: heatline; } /* ****** */

/* ###################### TEXT */
html body #content .outline-text-2 { color: #ffffff; }                             /* *      */
html body #content .outline-text-3 { color: #ffffff; }                             /* **     */
html body #content .outline-text-4 { color: #ffffff; }                             /* ***    */
html body #content .outline-text-5 { color: #ffffff; }                             /* ****   */
html body #content .outline-text-6 { color: #ffffff; }                             /* *****  */
html body #content .outline-text-7 { color: #ffffff; }                             /* ****** */

/* ####################### TOC */
html body #content #table-of-contents { background-color: #000; border: 1px solid #CCC;
                                        position: fixed; right: 0em; top: 0em; overflow: auto;
                                        max-height: 80%; max-width: 35%; float: right; z-index: 1;
                                        box-shadow: 0 0 1em #777777; border-bottom-left-radius: 5px; }
html body #content #table-of-contents h2 { color: #eedd82; background-color: #000;
                                           font-size: .8em; text-align: center;
                                           border: 0; padding: 0em 0.5em 0em 0.5em; }
html body #content #table-of-contents #text-table-of-contents { display: none; text-align: left; }
html body #content #table-of-contents:hover #text-table-of-contents { display: block; line-height: 1em;  }
html body #content #table-of-contents:hover #text-table-of-contents ul { padding-left: 1em; }
html body #content #table-of-contents:hover #text-table-of-contents ul li { list-style: none; }
html body #content #table-of-contents:hover #text-table-of-contents ul li a { text-decoration: none;
                                                                              color: #87cefa; font-size: .7em; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li a:hover
                         { color: #fff; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li ul li a
                         { color: #eedd82; font-size: .6em; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li ul li ul li a
                         { color: #00ffff; font-size: .6em; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li ul li ul li ul li a
                         { color: #ff4500; font-size: .6em; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li ul li ul li ul li ul li a
                         { color: #98fb98; font-size: .6em; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li ul li ul li ul li ul li ul li a
                         { color: #7fffd4; font-size: .6em; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li ul li ul li ul li ul li ul li ul li a
                         { color: #b0c4de; font-size: .6em; }
html body #content
#table-of-contents:hover #text-table-of-contents ul li ul li ul li ul li ul li ul li ul li ul li a
                         { color: #ffa074; font-size: .6em; }

/* ####################### IMG */
html body #content img { border: none; filter: grayscale( 100% ); filter: invert(100%); }
html body #content img:hover { filter: none;
                           /*  filter: grayscale(50%);
                               filter: sepia(100%);
                               filter: blur(10px);
                               filter: brightness(0.5);
                               filter: contrast(200%);
                               filter: drop-shadow(16px 16px 10px black );
                               filter: hue-rotate(90deg);
                               filter: invert(100%);
                               filter: opacity(50%);
                               filter: saturate(200%); */ }

/* ##################### TABLE */
html body #content table    { border: 2px solid #87cefa; }
html body #content table tr { border: 2px solid #87cefa; }
html body #content table th { border: none; color: #ff7f24; }
html body #content table td { border: none; color: #ffffff; }


/* ############## CODE IN TEXT */
html body #content code { background-color: #000; color: #b3b3b3; font-size: 1em;  font-family: codetext;
                          /* border: 1px solid #DEDEDE; */ padding: 0px 0.2em; }

/* ############### CODE BLOCKS */
html body #content pre { background-color: #000; color: white; font-size: 100%; text-align: left; font-family: codeblock;
                         padding: 1.2em; border: 1px solid #ddd; overflow: auto; }

/* #################### CENTER */
html body #content .center { text-align: center; }

/* ##################### VERSE */
html body #content .verse { text-align: center; color: #b3b3b3;
                            font-style: italic; font-family: text_verse; }

/* ############### FONT STYLE */
html body #content b { font-family: text_bold; }     /* *BOLD*       */
html body #content i { font-family: text_italic; }  /* /ITALIC/     */

/* #################### LINKS */
html body #content a { color: #00ffff; text-decoration: underline; }
html body #content a:hover { background-color: #556b2f; color: #ffffff; text-decoration: none; }

/* ############ FOOTNOTE LINK */
html body #content a.footref { color: #00ffff; text-decoration: none; }
html body #content a.footref:hover { background-color: #556b2f; color: #ffffff; text-decoration: none; }
html body #content a.footnum { color: #00ffff; text-decoration: none; }
html body #content a.footnum:hover { background-color: #556b2f; color: #ffffff; text-decoration: none; }

/* #################### LIST  */
html body #content ul.org-ul li { color: #fff; font-size: 1em; }
html body #content ul.org-ul li b { font-weight: bold; }
html body #content ul.org-ul li p { color: #fff; font-size: 1em; }

/* ############### DESCRIPTION */
html body #content dl.org-dl { padding-bottom: 2em; }         /* body           */
html body #content dl.org-dl dt { color: #daa520;             /* description id */
                                  font-size: 1.2em; font-family: description_id;
                                  margin-left: 0.6em; }
